<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
  Contct source of the SungJoe's Ruby on Rails Self-study about the sample app at the
  <a href="https://bitbucket.org/Skim0082/sample_app/src/">Sungjoe's Self-study code</a>.
</p>