<footer class="footer">
  <small>
    The <a href="https://rails-tutorial-sungjoe.c9users.io/">Ruby on Rails Sample App</a>
    by <a href="https://bitbucket.org/Skim0082/sample_app/src/">Sungjoe's Self-study</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>